# Netbeans

web/META-INF/context.xml
web/WEB-INF/log4j.properties
web/WEB-INF/shiro.ini
web/files/jpg/
web/files/thumbnail/
web/files/mrsid/
web/files/tiff/
web/files/documents/


build/web/WEB-INF/classes/.netbeans_update_resources
build/web/WEB-INF/classes/.netbeans_automatic_build
build/web/META-INF/context.xml
build/web/WEB-INF/log4j.properties
build/web/WEB-INF/shiro.ini
build/web/files/jpg/
build/web/files/thumbnail/
build/web/files/mrsid/
build/web/files/tiff/
build/web/files/documents/


nbproject/
build.xml
config/database.yml
#dist/*.war



